.filter{
    width: 1200px;
    height: 217px;
    background: #ffffff;
    background-image: url( "../img/filter_background.jpg" );
}

.social {
    list-style-type: none;
}
.social-item {
    background: #81b3d2;
    border: 13px solid #81b3d2;
}