.page-frame {
    width: 1200px;
}
.intro {
    width: 1200px;
    height: 780px;
    background: #ffffff;
    background-image: url( "../img/intro_background.jpg" );
}
.feature-wide-box1 {
    width: 1200px;
    height: 256px;
    background: #81b3d2;
    background-image: url( "../img/foto1.jpg" );
    background-repeat: no-repeat;
    background-position: right 0px top 0px;
}
.feature-wide-box2 {
    width: 1200px;
    height: 256px;
    background: #81b3d2;
    background-image: url( "../img/foto2.jpg" );
    background-repeat: no-repeat;
    background-position: left 0px top 0px;
}
.about-sity {
    list-style-type: none;
}
.about-sity li:first-child {
    background-image: url( "../img/icon_1.svg" );
    background-repeat: no-repeat;
}
.about-sity li:nth-child(2) {
    background-image: url( "../img/icon_2.svg" );
    background-repeat: no-repeat; 
}
.about-sity li:last-child {
    background-image: url( "../img/icon_3.svg" );
    background-repeat: no-repeat;
}
.social {
    list-style-type: none;
}
.social-item {
    background: #81b3d2;
    border: 13px solid #81b3d2;
}