.page-header {
    position: relative;
}
.site-navigation {
    display: flex;
    flex-basis: 100%;
    height: 56px;
    padding-left: 72px;
    padding-right: 72px;
    margin: 0;    
}
.site-navigation li {
    flex-basis: 240px;
}
.site-navigation li:nth-child(2){
    margin-right: 96px;
}
.site-navigation li:first-child,
.site-navigation li:nth-child(2) {
    text-align: left;
}
.site-navigation li:last-child,
.site-navigation li:nth-child(3) {
    text-align: right
}
.logo {
    display: block;
    z-index: 2;
    position: absolute;
    margin: 0 531px;
}
/*Преимущества Седоны*/

.introduce-caption,
.introduce-description,
.features-list,
.feature-item-caption,
.number,
.feature-item-description,
.about-sity,
.about-sity-caption,
.about-sity-description,
.feature-item {
    margin: 0;
    padding: 0;
}
.introduce {
    width: 600px;
    min-height: 216px;
    margin: 0 auto;
}
.introduce-caption {
    margin-top: 61px;
    margin-bottom: 27px;
}
.features-list {
    display: flex;
    flex-basis: 1200px;
    flex-wrap: wrap;
}
.feature-wide{
    display: flex;
    flex-basis: 1200px;
}
.feature-wide-info{
    display: flex;
    flex-direction: column; 
}
.about-sity{
    display: flex;
    flex-basis: 1200px;
    height: 330px;
}
.page-footer {
    display: flex;
    justify-content: space-around;
}
/*Hotels*/
.filter{
    display: flex;
    flex-basis: 1200px;
}
.additional-criteria {
    display: flex;     
}
.search-total{
    display: flex;
    height: 87px;
    box-sizing: border-box;
    border-bottom: 1px solid #e5e5e5;
    
}
.search-total h3,
.search-total p,
.search-total ul {
    padding: 0px;
    margin: 0px;
}
.sorting-method {
    display: flex;
    justify-content: space-between;
}
.search-resalt-list,
.search-resalt-list h3,
.search-resalt-list .stars {
    padding: 0px;
    margin: 0px;
}
.search-resalt-item {
    display: flex;
    box-sizing: border-box;
    border-bottom: 1px solid #e5e5e5;
}
