html{
    box-sizing: border-box;  
}
*,*::before, *::after {
      box-sizing: inherit;   
} 
body{
    margin:  0;
    padding: 0;

    font-family: "PT+Sans", Arial, sans-serif;
    text-transform: uppercase;

    background-color: #ffffff; 
}
a {
    text-decoration: none;
  }
.page-frame {
    width: 1200px;
    margin: 0 auto;
}
.main-navigation {

    background-color: #ffffff;
}  
.site-navigation a {
    font-size: 14px;
    font-weight: bold;
    line-height: 26px;
    color: #000000;
    
}
.site-navigation a:hover{
    color: #81b3d2;  
}
.site-navigation a:active,
.hotel-name a:active,
.details a:active,
.booking a:active {
    opacity: 0.3;  
}   
.site-navigation,
.social,
.about-sity,
.features-list,
.sorting-method,
.search-resalt-list,
.stars {
    list-style: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.intro {
    width: 1200px;
    height: 508px;
    background: #90bed8;
    background-image: url( "../img/intro_background.jpg" );
}
.features,
.search-hotel
 {
    text-align: center;    
}

.features h3{ 
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    color: #000000;
}
.features p{ 
    font-size: 14px;
    font-weight: normal;
    line-height: 26px;
    color: #333333;
}
.feature-wide {
    width: 1200px;
    height: 256px;
}

.feature-wide-info {
    background: #81b3d2;
    
    
}
.features .feature-wide-info h3,
.features .feature-wide-info p {
    color: #ffffff;
}
.feature-normal{
    width: 400px;
    height: 256px;
    background-color: #eeeeee;
    
}
.about-sity li:first-child {
    background-image: url( "../img/icon_1.svg" );
    background-repeat: no-repeat;
   
}
.about-sity li:nth-child(2) {
    background-image: url( "../img/icon_2.svg" );
    background-repeat: no-repeat; 
   
}
.about-sity li:last-child {
    background-image: url( "../img/icon_3.svg" );
    background-repeat: no-repeat;
    
}
.popup-search,
.popup-search input{
    font-size: 14px;
    font-weight: bold;
    line-height: 26px;
    color: #000000;
    text-transform: uppercase;
}
.search-hotel-link,
.popup-search-hotels {
    font-size: 21px;    
    line-height: 26px;
    color: #ffffff;
    
}
.search-hotel-link{    
    font-weight: normal;
    background-color: #766357;
    line-height: 86px;
    margin: 0 auto;
    
}
.popup-search-hotels{
    width: 458px;
    height: 58px;
    font-weight: bold;
    background-color: #81b3d2;
    line-height: 58px;
}
.page-footer {
    background-color: rgba(255, 255, 255, 0.9);
    margin-top: -120px;
}
.hash {
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    color: #000000;
}
.social {
   display: flex; 
}
.social li:not(:last-child){
    margin-right: 6px;  
}
.social-item {
    width: 46px;
    height: 48px;
    background-color: #81b3d2;
    position: relative;
    display: flex;
}
.social svg{
    margin: auto;
}
.social-item:hover {
    background-color: #669ec0;
}
.social-item:active{
    background-color: #5496bd;
}
.social-item:active > svg {
    opacity: 0.3;
}

.copyright {
    font-size: 14px;
    font-weight: normal;
    line-height: 26px;
    color: #000000;
}
.copyright svg{
    fill: #231f20;
}
.copyright:hover svg{
    fill: #81b3d2;
}
.copyright:active svg{
    fill: #bdbbbc;
}

.filter{
    width: 1200px;
    height: 217px;
    background: #90bed8;
    background-size: cover;
    background-image: url( "../img/filter_background.jpg" );
}
.additional-criteria-sort {
    border: none;
}

.additional-criteria-caption,
.price-range-title {
    font-size: 16px;
    font-weight: bold;
    line-height: 21px;
    color: #ffffff;
}
.filter label,
.price-controls,
.btn-transparent {
    font-size: 14px;
    font-weight: normal;
    line-height: 21px;
    color: #ffffff;
}
.sort{
    font-size: 12px;
    font-weight: normal;
    line-height: 18px;
    color: #000000;
}
.sorting-method a{
    font-size: 12px;
    font-weight: normal;
    line-height: 18px;
    color: #c5c5c5;
    opacity:0.3;
    border-bottom: 1px dotted #81b3d2;
}
.sorting-method .active{
    color: #81b3d2;
    opacity: 1;
    border: none;
}
.sorting-method a:hover{
    color: #81b3d2;
    opacity: 1;
}
.sorting-method a:active{
    color: #000000;
    border-bottom: none;
    opacity: 1;
}
.arrow-up,
.arrow-down {
    fill: #cacaca;
}
.arrow-down.active{
    fill: #81b3d2; 
}
.arrow-up:hover,
.arrow-down:hover {
    fill: #231f20;
}
.arrow-up:active,
.arrow-down:active {
    fill: #81b3d2;
}


.hotel-name a {
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    color: #000000;
}
.hotel-name a:hover{
    color: #81b3d2;
}

.hotel-type,
.price {
    font-size: 14px;
    font-weight: normal;
    line-height: 21px;
    color: #333333;
    text-align:left;
    padding-top: 3px;
}
.details a,
.booking a {
    font-size: 14px;
    font-weight: bold;
    line-height: 21px;
    color: #ffffff;
}
.rating {
    font-size: 14px;
    font-weight: normal;
    line-height: 21px;
    color: #666666;
}
.hotel-info{
    border-spacing: 6px;
}
.hotel-type{
    width: 110px;
    height: 27px;
}
.price{
    width: 142px;
    height: 27px;
}
.details {
    height: 27px;
    text-align:center;
    background-color: #81b3d2;
}
.details:hover,
.popup-search-hotels:hover{
    background-color: #669ec0;
}
.details:active,
.popup-search-hotels:active{
    background-color: #5496bd;
}
.booking {
    height: 27px;
    text-align:center;
    background-color: #766357;
}
.booking:hover,
.search-hotel-link:hover {
    background-color: #604e43;
}
.booking:active,
.search-hotel-link:active {
    background-color: #503e33;
}
.search-hotel-link:active {
   color: rgba(255, 255, 255, 0.3)
}

.popup-search-options input {
    background-color: #f2f2f2;
    border: none;
}
.popup-search-options input:hover {
    background-color: #ebebeb; 
}
.popup-search-options input:focus {
    background-color: #ffffff;
    outline: 2px solid #e5e5e5; 
}
.popup-search-hotels:active{
    color: rgba(255, 255, 255, 0.3);
}
.stars {
    display: flex; 
 }
 .stars li:not(:last-child){
     margin-right: 5px;  
 }
 .social svg{
     margin: auto;
    }
.stars li{
    width: 18px;
    height: 17px;
    background-image: url( "../img/star.svg" ); 
    background-repeat: no-repeat;
}